

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100vh;
    width: 100%;
}

h1 {
    color: gray;
    border-bottom: 5px solid rgba(247, 101, 112, 0.9);
    padding-bottom: 25px !important;
    margin-left: 1%;
}

.all {
    height: 100%;
    width: 100%;
}

aside.div, section, header, footer, nav {
    display: block;
}

body {
    font-family: "Arial", sans-serif;
}

/*reset*/
html, body, #wrapper {
    margin: 0;
    padding: 0;
}

nav {
    float: right !important;
}

p {
    display: block;
    padding: 5%;
}

li {
    padding: 1% !important;
    display: inline-block;
}

[class*="col-"] {
    float: left;
    padding: 0 15px;
}

/*menu*/

header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;
    z-index: 999;
}

.logo {
    padding: 2%;
}

.test {
    float: right;
}

a.menu-link {
    float: right;
    display: block;
    padding: 1em;
    text-decoration: none;
    margin-top: 10px;
    color: #FFCC66;
    font-size: 1em;
}

a {
    text-decoration:none;
    font-size:2em;
    position:relative;
    color:#EA3556;
}

a::after {
    content:"";
    height:2px;
    width:0;
    background-color:#EA3556;
    position:absolute;
    bottom:0;
    left:0;
    transition:width 500ms ease;
}

a:hover::after {
    width:100%;
}

nav {
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
}

nav[role=navigation] {
    clear: both;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.js nav[role=navigation] {
    overflow: hidden;
    max-height: 0;
}

nav[role=navigation].active {
    max-height: 15em;
}

nav[role=navigation] ul {
    margin: 0;
    padding: 0;
    border-top: 2px solid #FFCC66;
    float: right;
}

nav[role=navigation] li a {
    display: block;
    padding: 0.8em;
    text-decoration: none;
    color: grey;
    font-size: 14px;

}

/*section gallerie*/
.gal {
    background-color: whitesmoke;
    height: 100%;
    width: 100% !important;
}

.img {
    margin-top: 190px;
    padding-top: 120px;
}

/*gallery*/
img {
    max-width: 100%;

    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

figure.gallerie img {
    width: 100%;
    position: relative;
    overflow: hidden;
}

figcaption {
    background-color: aqua;
    color: white;
    font-family: "Arial", sans-serif;
    font-size: 20px;
    font-weight: 900;
    height: 4em;
    margin-top: -6px;
    padding: 1em;
    text-align: center;

}

html body section ul.col-12.img li.col-4 figure.gallerie {
    width: 500px;
    position: relative;
    overflow: hidden;

}

img[alt*="London"] + figcaption {
    background-color: rgba(247, 101, 112, 0.9);
}

img[alt*="Rome"] + figcaption {
    background-color: rgba(195, 119, 228, 0.9);
}

img[alt*="New delhi"] + figcaption {
    background-color: rgba(255, 210, 5, 0.9);
}

img[alt*="Cuba"] + figcaption {
    background-color: rgba(27, 188, 155, 0.9);
}

img[alt*="US"] + figcaption {
    background-color: rgba(195, 119, 228, 0.9);
}

img[alt*="Rome"] + figcaption {
    background-color: rgba(232, 157, 103, 0.9);
}

img[alt*="Berlin"] + figcaption {
    background-color: rgba(83, 149, 193, 0.9);
}

img[alt*="Paris"] + figcaption {
    background-color: rgba(232, 157, 103, 0.9);
}

img[alt*="Bahamas"] + figcaption {
    background-color: rgba(247, 101, 112, 0.9);
}

/*carousel*/
.hero {
    z-index: -999;
}

section {
    display: block;
    position: relative;
    height: 75%;
    padding: 0 !important;
    margin: 0;
}

.Carousel-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -9;
}

.carousel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    /*animation*/

    animation: slideShow 24s linear infinite 0s;
    -o-animation: slideShow 24s linear infinite 0s;
    -moz-animation: slideShow 24s linear infinite 0s;
    -webkit-animation: slideShow 24s linear infinite 0s;
}

.carousel:first-child {
    opacity: 1;
    background: url(img/pic1.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel:nth-child(2) {
    animation-delay: 6s;
    -o-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -webkit-animation-delay: 6s;
    background: url(img/pic2.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel:nth-child(3) {
    animation-delay: 12s;
    -o-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -webkit-animation-delay: 12s;
    background: url(img/pic3.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel:nth-child(4) {
    animation-delay: 18s;
    -o-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -webkit-animation-delay: 18s;
    background: url(img/pic4.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel:nth-child(5) {
    animation-delay: 24s;
    -o-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -webkit-animation-delay: 24s;
    background: url(img/pic5.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel:nth-child(6) {
    animation-delay: 30s;
    -o-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -webkit-animation-delay: 30s;
    background: url(img/pic6.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel:nth-child(7) {
    animation-delay: 36s;
    -o-animation-delay: 36s;
    -moz-animation-delay: 36s;
    -webkit-animation-delay: 36s;
    background: url(img/pic7.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel:nth-child(8) {
    animation-delay: 42s;
    -o-animation-delay: 42s;
    -moz-animation-delay: 42s;
    -webkit-animation-delay: 42s;
    background: url(img/pic8.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel:nth-child(9) {
    animation-delay: 48s;
    -o-animation-delay: 48s;
    -moz-animation-delay: 48s;
    -webkit-animation-delay: 48s;
    background: url(img/pic9.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel:nth-child(10) {
    animation-delay: 54s;
    -o-animation-delay: 54s;
    -moz-animation-delay: 54s;
    -webkit-animation-delay: 54s;
    background: url(img/pic10.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel:nth-child(11) {
    animation-delay: 60s;
    -o-animation-delay: 60s;
    -moz-animation-delay: 60s;
    -webkit-animation-delay: 60s;
    background: url(img/pic11.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel:nth-child(12) {
    animation-delay: 66s;
    -o-animation-delay: 66s;
    -moz-animation-delay: 66s;
    -webkit-animation-delay: 66s;
    background: url(img/pic12.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* keyframes*/

@keyframes slideShow {
    0% {
        opacity: 0;
        transform: scale(1);
        -ms-transform: scale(1);
    }
    4% {
        opacity: 1
    }
    24% {
        opacity: 1;
    }
    28% {
        opacity: 0;
        transform: scale(1.1);
        -ms-transform: scale(1.1);
    }
    100% {
        opacity: 0;
        transform: scale(1);
        -ms-transform: scale(1);
    }
}

@-o-keyframes slideShow {
    0% {
        opacity: 0;
        -o-transform: scale(1);
    }
    4% {
        opacity: 1
    }
    24% {
        opacity: 1;
    }
    28% {
        opacity: 0;
        -o-transform: scale(1.1);
    }
    100% {
        opacity: 0;
        -o-transform: scale(1);
    }
}

@-moz-keyframes slideShow {
    0% {
        opacity: 0;
        -moz-transform: scale(1);
    }
    4% {
        opacity: 1
    }
    24% {
        opacity: 1;
    }
    28% {
        opacity: 0;
        -moz-transform: scale(1.1);
    }
    100% {
        opacity: 0;
        -moz-transform: scale(1);
    }
}

@-webkit-keyframes slideShow {
    0% {
        opacity: 0;
        -webkit-transform: scale(1);
    }
    4% {
        opacity: 1
    }
    24% {
        opacity: 1;
    }
    28% {
        opacity: 0;
        -webkit-transform: scale(1.1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1);
    }
}

/* section bloc*/
.bloc {
    background-color: whitesmoke;
    width: 100%;
    height: 25%;
    z-index: -2;
}

.bloc .col-8 {
    margin-left: 16.6666667%;
    height: 100%;
    background-color: transparent;
    margin-top: -8%;
}

article.col-3 {
    width: 25%;
}

.col-8 article.col-3 {
    height: 100%;
    padding: 1%;
}

article.col-3 > div:first-child {
    background-color: rgba(247, 101, 112, 1);
    height: 100%;
    color: white;
    padding: 5%;
    font-weight: 800;
    font-size: 20px;
}

article.col-3:nth-child(2) > div {
    background-color: rgba(195, 119, 228, 1);
    height: 100%;
}

article.col-3:nth-child(3) > div {
    background-color: rgba(27, 188, 155, 1);
    height: 100%;
}

article.col-3:nth-child(4) > div {
    background-color: rgba(83, 149, 193, 1);
    height: 100%;
}

footer.col-12 {
    height: 5em;
    padding: 0.5em;
    background-color: white;
    position: fixed;
    bottom: 0;
    z-index: 999;
}

footer p {
    margin: 0.25em 0;
    color: grey;
    font-size: 2em;
    font-weight: 400;
    text-align: center;
    padding: 0;
}

/*video*/
.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#london {
    background-color: rgba(247, 101, 112, 0.9);
}

#usa {
    background-color: rgba(195, 119, 228, 0.9);
}

#cuba {
    background-color: rgba(27, 188, 155, 0.9);
}

#paris {
    background-color: rgba(232, 157, 103, 0.9);
}

#berlin {
    background-color: rgba(83, 149, 193, 0.9);
}

#new-dehli {
    background-color: rgba(255, 210, 5, 0.9);
}

#dubai {
    background-color: aqua;
}

#bahamas {
    background-color: rgba(247, 101, 112, 0.9);
}

#rome {
    background-color: rgba(232, 157, 103, 0.9);
}

/*form*/
.blocs {
    height: 110%;
    background-color: whitesmoke;
}

.title {
    padding-top: 150px;
}

.room-check {
    margin-left: 0;
    height: 180px;
    margin-top: 250px;
    position: absolute;
    z-index: 22;
}

input[type="text"] {
    width: 100%;
    margin: 2px;
    height: 50px;
    margin-top: 20px;
    border-radius: 5px;
    border-color: transparent;
}

input[type="tel"] {
    width: 100%;
    margin: 2px;
    height: 50px;
    margin-top: 20px;
    border-radius: 5px;
    border-color: transparent;
}

input[type="submit"] {
    width: 120px;
    margin: 2px;
    height: 50px;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 2px rgba(247, 101, 112, 0.9);
    font-family: "Arial", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: gray;
    background-color: white;
}

select {
    margin: 2px;
    height: 30px;
    margin-top: 20px;
    border-radius: 5px;
    border: 2px solid rgba(247, 101, 112, 0.9);
}

textarea {
    width: 100%;
    margin: 2px;
    height: 100px;
    margin-top: 20px;
    border-radius: 5px;
    border-color: transparent;

}

.input {
    padding: 1% !important;
    width: 100%;
    margin-left: 50%;
    margin-top: 20px;
    border: none;
}

input[placeholder] {
    padding: 1%;

}

textarea[placeholder="Message"] {
    padding: 1%;
}

h4 {
    margin-top: 20px;
    margin-bottom: 20px;
}

/*formulaire animation*/

/*container permetteant de garder les elements dans un container sans que ceux ci remonte*/
.row:after {
    content: "";
    clear: both;
    display: block;
}

/*classe colonne grid*/
.col-1 {
    width: 8.33333333%;
}

.col-2 {
    width: 16.6666667%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.3333333%;
}

.col-5 {
    width: 41.6666667%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.3333333%;
}

.col-8 {
    width: 66.6666666%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.3333333%;
}

.col-11 {
    width: 91.6666666%;
}

.col-12 {
    width: 100%;
}

.row {
    margin: 1%;
    background-color: whitesmoke;
}

/* Portrait et Landscape tablette*/
@media only screen and (max-width: 768px) {
    /*class colonne grid*/
    .col-t1 {
        width: 8.33333333%;
    }

    .col-t2 {
        width: 16.6666667%;
    }

    .col-t3 {
        width: 25%;
    }

    .col-t4 {
        width: 33.3333333%;
    }

    .col-t5 {
        width: 41.6666667%;
    }

    .col-t6 {
        width: 50%;
    }

    .col-t7 {
        width: 58.3333333%;
    }

    .col-t8 {
        width: 66.6666666%;
    }

    .col-t9 {
        width: 75%;
    }

    .col-t10 {
        width: 83.3333333%;
    }

    .col-t11 {
        width: 91.6666666%;
    }

    .col-t12 {
        width: 100%;
    }

    .bloc .col-8 {
        margin-left: 0;
    }

    [class*="col-"] {
        padding: 0;
    }

    nav[role="navigation"] {
        float: none;
    }

    a.menu-link {
        float: right;
        display: inline-block;
        padding: 0.5em;
        text-decoration: none;
        margin-top: 10px;
        color: #FFCC66;
    }

    .logo {
        padding: 5%;
        width: 150px;
    }

    article.col-t12 {
        width: 100%;
    }

    nav[role=navigation] li a {
        font-size: 12px;
    }

    .Carousel-container {
        visibility: hidden;
    }

    footer.col-12 {
        background-color: white;
        bottom: 0;
        height: 5em;
        padding: 0.5em;
        position: fixed;
        z-index: 999;
        color: gray;
    }

    footer p {
        margin: 0.25em 0;
        color: gray;
        font-size: 2em;
        font-weight: 400;
        text-align: center;
        padding: 0;
    }

    .hero {
        background-image: url("img/pic1.jpg");
        background-size: cover;
    }

    .input {
        padding: 1% !important;
        width: 100%;
        margin-left: 0;
    }

    .title {
        padding-top: 150px !important;
    }
}

@media screen and (max-width: 320px) {
    .blocs {
        height: 160%;
        background-color: whitesmoke;
    }

}

@media screen and (max-width: 568px) {
    .blocs {
        height: 300%;
        background-color: whitesmoke;
    }

}

@media screen and (min-width: 48.25em) {
    a.menu-link {
        display: none;
    }

    .js nav[role=navigation] {
        max-height: none;
    }

    nav[role=navigation] ul {
        margin: 0 0 0 -0.25em;
        border: 0;
        width: 100%;
    }

    nav[role=navigation] li {
        display: inline-block;
        margin: 0 0.25em;
    }

    nav[role=navigation] li a {
        border: 0;
    }
}


